@import '../../common.scss';
$row-hover-vertical-padding: 21px;
$row-sides-padding: 30px;
$row-top-padding: 24px;
$icon-accordion-padding: 24px;
$icon-accordion-height: 24px;
$moreLessPosition: 30px;
$moreLess-height: 30px;
$collapse-top-padding: 24px;
$collapse-sides-padding: 30px;

.collapse,
.item {
  display: flex;
}

.wrapper {
  position: relative;
}

.item {
  padding: $row-top-padding $row-sides-padding;
  width: calc(100% - #{$row-sides-padding * 2});
  transition: background-color .3s;
  justify-content: space-between;
  align-items: center;

  &:not(.open):hover {
    background-color: $B40;
    cursor: pointer;
    padding: $row-hover-vertical-padding $row-sides-padding;
    height: $moreLess-height;
  }
}

.headerInfo {
  display: flex;
  align-items: center;
}

.headerIcon {
  margin-right: $icon-accordion-padding;
  height: $icon-accordion-height;
}

.headerText {
  margin-right: 12px;
}

.headerDetails {
  display: flex;
  justify-content: center;
}

.collapse {
  align-items: flex-start;
  flex-direction: column;
  padding: $collapse-top-padding $collapse-sides-padding $collapse-sides-padding $collapse-sides-padding;
  background-color: $B60;
}

.moreLessButton {
  position: relative;
  transition: bottom .2s;

  &.open {
    bottom: $moreLessPosition;
  }
}
