@import '../../common.scss';
$row-hover-vertical-padding: 21px;
$row-padding-left-no-icon: 30px;
$row-sides-padding: 24px;
$row-vertical-padding: 24px;
$icon-accordion-height: 24px;
$icon-margin-right: 24px;
$moreLessPosition: 30px;
$moreLess-width: 72px;
$moreLess-height: 30px;
$moreLess-margin-right: 6px;
$collapse-top-padding: 24px;
$collapse-sides-padding: 30px;
$item-internal-margin: 12px;

.collapse,
.item {
  display: flex;
}

.wrapper {
  position: relative;
}

.item {
  padding: $row-vertical-padding $row-sides-padding $row-vertical-padding $row-sides-padding;
  width: calc(100% - #{$row-sides-padding * 2});
  transition: background-color .3s;
  justify-content: space-between;
  align-items: center;

  &:not(.open):hover {
    background-color: $B40;
    cursor: pointer;
    padding: $row-hover-vertical-padding $row-sides-padding;
    height: $moreLess-height;

    &.itemNoIcon {
      padding-left: $row-padding-left-no-icon;
    }
  }

  &.itemNoIcon {
    padding-left: $row-padding-left-no-icon;
    width: calc(100% - #{$row-sides-padding} - #{$row-padding-left-no-icon});
  }

}

.headerInfo {
  display: flex;
  align-items: center;
}

.headerIcon {
  margin-right: $item-internal-margin;
  height: $icon-accordion-height;
}

.headerText {
  width: calc(100% - #{$icon-accordion-height} - #{$item-internal-margin});
}

.headerDetails {
  display: flex;
  width: 100%;
  justify-content: center;
}

.headerDetailsInternal {
  display: flex;
  align-items: center;
  width: calc(100% - #{$moreLess-width} - #{$moreLess-margin-right} - #{$item-internal-margin});
  margin-right: $item-internal-margin;
  justify-content: flex-start;
}

.collapse {
  align-items: flex-start;
  flex-direction: column;
  padding: $collapse-top-padding $collapse-sides-padding $collapse-sides-padding $collapse-sides-padding;
  background-color: $B60;
}

.moreLessButton {
  position: relative;
  width: $moreLess-width;
  margin-right: 6px;
}

.headerTextNoIcon {
  width: 100%;
}